*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #f1f1f1;
    font-family: 'Poppins', sans-serif;
}


.navbar{
    width: 80%;
    margin: 32px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.logo h2{
    margin: 16px 0px;
    font-size: 1.5rem;
    line-height:38.4px;
    text-align: start;
    color: #555555;
    font-weight: 600;
}

                    /*  menu starts */

.menu{
    width: 4.3rem;
    height: 4.3rem;
    border-radius: 100%;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgb(255, 255, 255) -8px -6px 15px 0px, rgba(0, 0, 0, 0.15) 6px 8px 15px 0px;
    z-index:999;
    cursor: pointer;
}

.menu button{
    border: none;
}

.menubar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-menu ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-menu li{
    list-style: none;
    transition: all ease-in-out 0.3s;
}

.main-menu button{
    width: auto;
    height: 4rem;
    font-size: 2rem;
    line-height: 1;
    font-weight: 400;
    text-align: center;
    transition: all 400ms ease;
    color: grey;
    margin-bottom: 30px;
    padding-right: 40px;
    padding-left: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: hsla(0, 0%, 100%, 0);
    border-radius: 16px;
    background-color: #f1f1f1;
    box-shadow: -7px -7px 15px 0 #fff, 7px 7px 15px 0 rgb(0 0 0 / 15%);
}

.main-menu li:hover{
    transform: scale(1.1);
}

.socialicons{
    margin-top: 20px;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.iconbox{
    width: 50px;
    height: 50px;
    background-color: #f1f1f1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -7px -7px 15px 0 #fff, 7px 7px 15px 0 rgb(0 0 0 / 15%);
    transition: all ease-in-out 0.3s;
}

.iconbox i{
    color: grey;
    background-color: transparent;
}

.iconbox:hover{
    transform: scale(1.1);
}

.menubar{
    display: none;
}
.menubar.mystyle{
    display: flex;
}
                    /* menu ends */




                    /* hero content starts */

.hero{
    width: 80%;
    height: 70vh;
    margin: 15px 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero-image-box{
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-image-container{
    width: 22rem;
    height: 36rem;
    border-radius: 480px;
    box-shadow: rgba(0, 0, 0, 0.12) 7px 7px 15px 0px, rgb(255, 255, 255) -7px -7px 15px 0px;
    border:15px solid #fff;
    transform: rotateZ(30deg);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image-container img{
    width: 600px;
    height: 600px;
    transform: rotateZ(-30deg);
}

.myself{
    width: 60%;
}

.intro{
    width: 100%;
}

.intro h1{
    font-size: 3.5rem;
    line-height: 4.1rem;
    color: #555555;
    text-align: start;
    font-weight: 500;
}

.hero-description{
    margin-top: 10px;
    margin-bottom: 15px;
    width: 60%;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.6rem;
    color: rgb(149, 148, 148);
}

.socialicons-hero{
    margin-top: 20px;
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.connect{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
}

.contact-button{
    width: 50%;
    margin-top: 10px;
    margin-right: 10px;
}

.socialicons-hero{
    width: 50%;

}

.connect button{
    padding: 20px 40px;
    width: auto;
    height: auto;
    font-size: 1rem;
    line-height: 1;
    font-weight: 500;
    transition: all 400ms ease;
    color: grey;
    border-style: solid;
    border-width: 2px;
    border-color: hsla(0, 0%, 100%, 0);
    border-radius: 16px;
    background-color: #f1f1f1;
    box-shadow: -7px -7px 15px 0 #fff, 7px 7px 15px 0 rgb(0 0 0 / 15%);
}


.iconbox-hero{
    width: 40px;
    height: 40px;
    background-color: #f1f1f1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -7px -7px 15px 0 #fff, 7px 7px 15px 0 rgb(0 0 0 / 15%);
    transition: all ease-in-out 0.3s;
}

.iconbox-hero i{
    color: grey;
    background-color: transparent;
}

.iconbox-hero:hover{
    transform: scale(1.1);
}


/*                             hero section ends                      */




/*                               about me starts                         */


.information{
    width: 80%;
    height: 20.188rem;
    margin: 10rem 7.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.aboutme{
    width: 67%;
    height: 20.18rem;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    border-radius: 2rem;
    box-shadow: rgb(255, 255, 255) -8px -6px 15px 0px, rgba(0, 0, 0, 0.15) 6px 8px 15px 0px;
}

.aboutme-heading{
    margin: 2.5rem 2.5rem 1rem 2.5rem;
    width: 47rem;
    height: 4.8rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.heading-me{
    width: 14.8rem;
    height: 3.5rem;
}

.heading-me h1{
    font-size: 2.9rem;
    font-weight: 500;
    line-height: 3.6rem;
    color: #555555;
}

.wave-icon{
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    margin-top:0.625rem;
    margin-left: 0.625rem;
}

.wave-icon img{
    width: 100%;
}

.aboutme-description{
    width: 46rem;
    height: 8.75rem;
    margin: 0rem 2.5rem;
}

.aboutme-description p{
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: grey;
    font-weight: 300;
}

.aboutme-button{
    width: 13%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    background-color: #f1f1f1;
    /* margin-left: 20px; */
}

.aboutme-button button{
    /* padding: 20px 40px; */
    width: 14.3rem;
    height: 4rem;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 500;
    transition: all 400ms ease;
    color: grey;
    border-style: solid;
    border-width: 2px;
    border-color: hsla(0, 0%, 100%, 0);
    border-radius: 16px;
    background-color: #f1f1f1;
    box-shadow: -7px -7px 15px 0 #fff, 7px 7px 15px 0 rgb(0 0 0 / 15%);
    transition: all ease-in-out 0.3s;
}

.aboutme-button button:hover{
    transform: scale(1.1);
}

                       /* about me ends */


                       /* profession starts */


.profession{
    width: 80%;
    height: 30.8rem;
    margin: 10rem 7.5rem;
}                       

.profession-heading{
    width: 80%;
    height: 3.5rem;
    margin-top: 2.6rem;
    margin-bottom: 2rem;
}

.profession-heading h1{
    font-size: 2.9rem;
    font-weight: 500;
    line-height: 3.5rem;
    color: #555555;
}

.profession-box-container{
    width: 100%;
    height: 20.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.profession-box{
    width: 24rem;
    height: 20.6rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 2rem;
    box-shadow: rgb(255, 255, 255) -8px -6px 15px 0px, rgba(0, 0, 0, 0.15) 6px 8px 15px 0px;
}

.profession-icon{
    width: 2.5rem;
    height: 2.5rem;
}

.profession-icon img{
    width: 100%;
    height: 100%;
}

.profession-label h5{
    width: 80%;
    font-size: 1.5rem;
    line-height: 2.1rem;
    color: #555555;
    font-weight: 400;
}

.profession-description{
    height: 8.4rem;
}
.profession-description p{
    font-size: 1.125rem;
    line-height: 1.55rem;
    font-weight: 300;
    letter-spacing: normal;
    color: #9c9c9c;
}

/*                        profession ends              */


/*                         portfolio starts             */


.portfolio{
    width: 80%;
    height: 140.6rem;
    margin: 10rem 7.5rem;
}

.portfolio-heading{
    width: 100%;
    height: 3.5rem;
    margin-bottom: 3rem;
}

.portfolio-heading h1{
    font-size: 2.9rem;
    font-weight: 500;
    line-height: 3.5rem;
    color: #555555;
}

.portfolio-box{
    width: 100%;
    height: 29.3rem;
    padding: 2.5rem;
    border-radius: 2rem;
    box-shadow: rgb(255, 255, 255) -8px -6px 15px 0px, rgba(0, 0, 0, 0.15) 6px 8px 15px 0px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portfolio-box-left{
    width: 24rem;
    height: 24.3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.pbox-left-top{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.pbox-left-label{
    width: 100%;
    height: 2.5rem;
}

.pbox-left-label h4{
    font-size: 1rem;
    line-height: 2.5rem;
    color: #9c9c9c;
    font-weight: 300;
}

.pbox-left-heading{
    width: 100%;
    height: 2.7rem;
}

.pbox-left-heading h3{
    font-size: 2rem;
    line-height: 2.7rem;
    color:#555555;
    font-weight: 400;
}

.pbox-left-description{
    width: 100%;
    height: 5rem;
    margin: 0.625rem 0rem;
}

.pbox-left-description p{
    font-size: 1.125rem;
    color: #9c9c9c;
    line-height: 1.68rem;
    font-weight: 300;
}

.pbox-left-bottom{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
}

.pbox-left-bottom button{
    width: 14.3rem;
    height: 4rem;
    font-size: 1.2rem;
    line-height: 1rem;
    font-weight: 500;
    transition: all 400ms ease;
    color: grey;
    border-style: solid;
    border-width: 2px;
    border-color: hsla(0, 0%, 100%, 0);
    border-radius: 16px;
    background-color: #f1f1f1;
    box-shadow: -7px -7px 15px 0 #fff, 7px 7px 15px 0 rgb(0 0 0 / 15%);
    transition: all ease-in-out 0.3s;
}

.pbox-left-bottom button:hover{
    transform: scale(1.1);
}

.portfolio-box-right{
    width: 36.5rem;
    height: 24rem;
}

.portfolio-box-right img{
    width: 100%;
    border-radius: 30px;
}


/*                       portfolio ends                */

/*                       email box begins               */

.email{
    margin: 10rem 7.5rem;
    width: 80%;
    height: 24.875rem;
    padding: 4rem 2.5rem 5rem 2.5rem;
    margin-bottom: 10rem;
    border-radius: 2rem;
    box-shadow: rgb(255, 255, 255) -8px -6px 15px 0px, rgba(0, 0, 0, 0.15) 6px 8px 15px 0px;
}

.first-line,
.second-line{
    width: 100%;
    height: 3.5rem;
    text-align: center;
    margin: 0.625rem 0rem;
}

.first-line h2,
.second-line h2{
    font-size: 3rem;
    color: #555555;
    line-height: 3.6rem;
    font-weight: 500;
}

.email-button{
    width: 16rem;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 1.75rem;
    margin: 3rem auto;
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 6px 8px 15px 0px, rgb(255, 255, 255) -8px -6px 15px 0px;
}   

.email-icon{
    width: 1rem;
    height: 1.5rem;
}

.email-icon i{
    width: 100%;
    height: 100%;
    color: #808080;
}

.email-address{
    width: 10.3rem;
    height: 1.5rem;
}

.email-address h5{
    font-size: 1.125rem;
    color: #808080;
    line-height: 1.575rem;
    font-weight: 500;
}



                        /*   email box edit ends */

                        /* footer edit begins    */

footer{
    width: 100%;
    height: 34.18rem;
    padding: 8rem 7.5rem;
    border-radius: 2rem;
    box-shadow: rgb(255, 255, 255) -3px -16px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.footer-left{
    width: 40%;
    height: 18.18rem;
}

.footer-left h2{
    font-size: 1.5rem;
    line-height:38.4px;
    text-align: start;
    color: #555555;
    font-weight: 600;
}

.footer-left-description{
    width: 24rem;
    height: 10.125rem;
    margin: 0.625rem 0rem;
}

.footer-left-description p{
    font-size: 1.12rem;
    line-height: 1.68rem;
    color: #9c9c9c;
    font-weight: 300;
}

.footer-social-icons{
    margin-top: 2rem;
    width: 14rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-right{
    width: 24.5rem;
    height: 18.18rem;
}

.footer-right-heading{
    width: 100%;
    height: 1.75rem;
    margin-top: 0.3rem;
}

.footer-right-heading h2{
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #9c9c9c;
    font-weight: 500;
}

.footer-right-input{
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
}

.footer-right-input input{
    width: 100%;
    height: 4rem;
    padding: 1.25rem 2rem;
    border-radius: 1.25rem;
    box-shadow: rgb(255, 255, 255) -4px -4px 10px 0px inset, rgba(0, 0, 0, 0.2) 4px 4px 6px 0px inset;
    border: none;
    font-size: 1rem;
    
}

.footer-right-input input::placeholder{
    color:#9c9c9c;  
}

.footer-right-button button{
    width: 9.125rem;
    height: 4.06rem;
    margin-top: 2rem;
    padding: 0.5rem 1.75rem;
    font-size: 1.12rem;
    line-height: 1.8rem;
    border-radius: 1rem;
    box-shadow: rgb(255, 255, 255) -8px -6px 15px 0px, rgba(0, 0, 0, 0.15) 7px 7px 15px 0px;
    border: none;
    color: #808080;
    font-weight: 500;
}

.footer-right-links ul{
    width: 100%;
    height: 1.37rem;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.footer-right-links a{
    text-decoration: none;
    color:#9c9c9c;
    font-size: 0.87rem;
}

.footer-right-links a:hover{
    color: #555555;
}

/*                            footer edit ends              */

@media(max-width:768px){

    .navbar{
        width: 80%;
        margin: 2rem 5rem;
    }

    .hero{
        display: flex;
        flex-direction: column;
        width: 81%;
        margin: 2rem 5rem;

    }

    .myself{
        width: 100%;
    }

    .hero-description{
        width: 65%;
    }

    .connect{
        width: 80%;
    }

    .hero-image-box{
        width: 60%;
    }

    .information{
        width: 80%;
        height: 29.188rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 2rem 5rem;

    }

    .aboutme{
        width: 100%;
        margin: 0rem 0rem;
        height: 23.18rem;
    }

    .aboutme-heading{
        width: 20rem;
        
    }

    .aboutme-description{
        width: 90%;
    }

    
    .aboutme-button{
        width: 35%;
        display: flex;
        justify-content: flex-start;
        align-items: end;
        background-color: #f1f1f1;
        /* margin-left: 20px; */
    }
    
    .profession{
        width: 80%;
        margin: 4rem 5rem;
        height: 60.8rem;
    }

    .profession-box-container{
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .profession-box{
        width: 38.5rem;
        height: 15rem;
        padding: 2.5rem;
        margin-bottom: 4rem;
    }

    .portfolio{
        width: 80%;
        margin: 2rem 5rem;
        height: 220.6rem;

    }

    .portfolio-box{
        display: flex;
        flex-direction: column;
        height: 50.6rem;
    }

    .portfolio-box-left{
        width: 100%;
        height: 24.3rem;
    }

    .pbox-left-bottom{
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
    }

    .portfolio-box-right{
        width: 100%;
    }

    .email{
        width: 80%;
        margin: 10rem 5rem 7rem 5rem;
        height: 28.875rem;

    }

    .first-line,
    .second-line{
        width: 100%;
        height: 3rem;
        text-align: center;
        margin: 2.9rem 0rem;
    }

    .first-line h2,
    .second-line h2{
        font-size: 2rem;
        color: #555555;
        line-height: 3rem;
        font-weight: 500;
    }

    footer{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 55.18rem;
    }
    
}